@import url('https://fonts.cdnfonts.com/css/norwester');
@import url('https://fonts.cdnfonts.com/css/railway');
@import url('https://fonts.cdnfonts.com/css/gill-sans-mt-2');

html{
  min-height:100%;/* make sure it is at least as tall as the viewport */
  position:relative;
}

body {
  height: 100%;
  background-color: #136f56;
  font-family: Verdana;
}

p {
    position: absolute;
    font-size: 15.2px;
    font-family: 'Railway', sans-serif;
    color: #00000086;
    top: 190%;
    left: 0.4%;
}

.tdlr{
  font-size: 17px;
  color: #66f3c1;
  filter: drop-shadow(0px 0px 2px #66f3c1);
  font-style: italic;
  text-align: center;
}

.paraheader{
  position: absolute;
  text-align: center;
  font-size: 50px;
  font-family: 'Norwester', sans-serif;
  color: #00000074;
  font-style: italic;
}

.header {
  z-index: 2;
  position: absolute;
  font-family: 'Norwester', sans-serif;
  color: #0000004e;
  -webkit-text-fill-color: #1cc68d;
  -webkit-text-stroke: 1.8px;
  font-size: 50px;
  font-style: italic;
}

.expand{
  background-color: #00000000;
  width: 1px;
  height: 3000px;
}

.bar1{
  z-index: 1;
  background: linear-gradient(270deg, #18c28c, #2cf7b7, #18c28c);
  background-size: 600% 600%;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 3000px;
  height: 52px;
  animation: gradient 15s ease infinite;
  border: solid #0b865bd6;
  border-right-width: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 2px;
}

#crediticon {
    z-index: 3;
    position: fixed;
	display: sticky;
	padding: 4px 7px;
	background: #11de9d;
	box-shadow: 3px 3px 0 #08a67e;
	border-radius: 20px;
}

#crediticon:hover {
	transition: 0.2s;
	box-shadow: 5px 5px 0 #0acb9b;
	background: #49ffc5;
	filter: drop-shadow(0px 0px 5px #00000028);
}

#homeicon {
    z-index: 3;
    position: fixed;
	display: sticky;
	padding: 4px 7px;
	background: #11de9d;
	box-shadow: 3px 3px 0 #08a67e;
	border-radius: 20px;
}

#homeicon:hover {
	transition: 0.2s;
	box-shadow: 5px 5px 0 #0acb9b;
	background: #49ffc5;
	filter: drop-shadow(0px 0px 5px #00000028);
}


@media all and (min-width: 500px) {
    .header {
        left: 0%;
        top: -75%;
      }
    #homeicon{
        top: 0.2%;
        left: 85%;
    }
    #crediticon{
        top: 0.2%;
        left: 93%;
    }

    h2 {
        top: 25%;
        left: 6%;
    }
    .tdlr{
      left: 3%;
      top: 915%;
    }
}

@media all and (min-width: 900px) {
  .header {
    left: 0%;
    top: -75%;
  }
  #homeicon{
    top: 0.2%;
    left: 90%;
}
#crediticon{
    top: 0.2%;
    left: 95%;
}
h2 {
    top: 25%;
    left: 12%;
}
.tdlr{
  left: 8%;
  top: 915%;
}
}

@keyframes gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
