@import url('https://fonts.cdnfonts.com/css/norwester');
@import url('https://fonts.cdnfonts.com/css/railway');
@import url('https://fonts.cdnfonts.com/css/gill-sans-mt-2');

body {
  background: url("assets/background.png");
  color: #338071;
  font-family: Verdana;
}

.header {
  position: absolute;
  font-family: 'Norwester', sans-serif;
  color: #0000004e;
  -webkit-text-fill-color: #1cc68d;
  -webkit-text-stroke: 1.8px;
  font-size: 120px;
  font-style: italic;
}

ul {
  position: absolute;
  color: #66f3c1;
  font-size: 30px;
  font-family: 'Railway', sans-serif;
  filter: drop-shadow(0px 0px 2px #66f3c1);
  font-style: italic;
}

.tiktok {
  position: absolute;
  width: 161px;
  height: 21px;
}

.bar1{
  z-index: 1;
  background: linear-gradient(270deg, #18c28c, #2cf7b7, #18c28c);
  background-size: 600% 600%;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 3000px;
  height: 15px;
  animation: gradient 15s ease infinite;
  border: solid #0b865bd6;
  border-right-width: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 2px;
}

#homeicon {
	position: absolute;
	display: flex;
	padding: 4px 7px;
	background: #11de9d;
	box-shadow: 3px 3px 0 #08a67e;
	border-radius: 20px;
}

#homeicon:hover {
	transition: 0.2s;
	box-shadow: 5px 5px 0 #0acb9b;
	background: #49ffc5;
	width: 70px;
	height: 70px;
	filter: drop-shadow(0px 0px 5px #00000028);
}

@media all and (min-width: 500px) {
  .header {
    left: 8.5%;
    top: -450%;
  }
  ul {
    top: 980%;
    left: 1.5%;
  }
  #homeicon {
    left: 26%;
    top: 3150%;
  }
}

@media all and (min-width: 900px) {
  .header {
    left: 15%;
  }
  ul {
    left: 3%;
  }
  #homeicon {
    left: 39.3%;
    top: 3150%;
  }
}

@keyframes gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}