@import url('https://fonts.cdnfonts.com/css/whitney-2');
@import url('https://fonts.cdnfonts.com/css/norwester');

.wrapper {
	display: flex;
	justify-content: center;
}

.cta {
	display: flex;
	padding: 10px 30px;
	text-decoration: none;
	font-family: 'Norwester', sans-serif;
	font-size: 35px;
	background: #e11145;
	transition: 1s;
	box-shadow: 6px 6px 0 #ca0d3c;
	border: 5px;
	border-radius: 10px;
}

#socials {
	margin-bottom: 0px;
	margin-top: 0px;
}

.cta:focus {
	outline: none;
}

.cta:hover {
	transition: 0.2s;
	box-shadow: 7px 7px 0 #a6082f;
	background: #de1145;
}

.cta2 {
	display: flex;
	padding: 10px 30px;
	text-decoration: none;
	font-family: 'Norwester', sans-serif;
	font-size: 40px;
	background: #bf1540;
	transition: 1s;
	box-shadow: 6px 6px 0 #a30c32;
	border: 5px;
	border-radius: 10px;
}

.cta2:focus {
	outline: none;
}

.cta2:hover {
	transition: 0.2s;
	box-shadow: 7px 7px 0 #7c0926;
}

.ctaGHY {
	display: flex;
	padding: 3px 13px;
	text-decoration: none;
	font-family: 'Norwester', sans-serif;
	font-size: 40px;
	background: #8d3491;
	transition: 1s;
	box-shadow: 3px 3px 0 #650b71;
	border: 5px;
	border-radius: 10px;
}

.ctaGHY:focus {
	outline: none;
}

.ctaGHY:hover {
	transition: 0.2s;
	box-shadow: 5px 5px 0 #590863;
}

.ctaADWY {
	display: flex;
	padding: 3px 13px;
	text-decoration: none;
	font-family: 'Norwester', sans-serif;
	font-size: 40px;
	background: #9a1ba5;
	transition: 1s;
	box-shadow: 3px 3px 0 #83138d;
	border: 5px;
	border-radius: 10px;
}

.ctaADWY:focus {
	outline: none;
}

.ctaADWY:hover {
	transition: 0.2s;
	box-shadow: 5px 5px 0 #610c69;
}

.ctaTMM {
	display: flex;
	padding: 3px 13px;
	text-decoration: none;
	font-family: 'Norwester', sans-serif;
	font-size: 40px;
	background: #1aba6f;
	transition: 1s;
	box-shadow: 3px 3px 0 #119b4f;
	border: 5px;
	border-radius: 10px;
}

.ctaTMM:focus {
	outline: none;
}

.ctaTMM:hover {
	transition: 0.2s;
	box-shadow: 5px 5px 0 #0c7139;
}

.ctaB {
	display: flex;
	padding: 1px 13px;
	text-decoration: none;
	font-family: 'Norwester', sans-serif;
	font-size: 40px;
	background: #d236a3;
	transition: 1s;
	box-shadow: 3px 3px 0 #ac2089;
	border: 5px;
	border-radius: 10px;
}

.ctaB:focus {
	outline: none;
}

.ctaB:hover {
	transition: 0.2s;
	box-shadow: 5px 5px 0 #6c1552;
}

.ctaS {
	display: flex;
	padding: 1px 13px;
	text-decoration: none;
	font-family: 'Norwester', sans-serif;
	font-size: 40px;
	background: #a1a1a1;
	transition: 1s;
	box-shadow: 3px 3px 0 #929292;
	border: 5px;
	border-radius: 10px;
}

.ctaS:focus {
	outline: none;
}

.ctaS:hover {
	transition: 0.2s;
	box-shadow: 5px 5px 0 #757575;
}

.ctaPTH {
	display: flex;
	padding: 3px 13px;
	text-decoration: none;
	font-family: 'Norwester', sans-serif;
	font-size: 40px;
	background: #249548;
	transition: 1s;
	box-shadow: 3px 3px 0 #146a46;
	border: 5px;
	border-radius: 10px;
}

.ctaPTH:focus {
	outline: none;
}

.ctaPTH:hover {
	transition: 0.2s;
	box-shadow: 5px 5px 0 #0a472e;
}


#twiticon {
	display: flex;
	padding: 4px 7px;
	background: #1DA1F2;
	box-shadow: 3px 3px 0 #0d75b5;
	border-radius: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#twiticon:hover {
	transition: 0.2s;
	box-shadow: 5px 5px 0 #085280;
	background: #38adf5;
	filter: drop-shadow(0px 0px 5px #00000028);
}

#reddicon {
	display: flex;
	padding: 4px 7px;
	background: #ff4500;
	box-shadow: 3px 3px 0 #972b03;
	border-radius: 20px;
	top: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#reddicon:hover {
	transition: 0.2s;
	box-shadow: 5px 5px 0 #661d02;
	background: #ff642c;
	filter: drop-shadow(0px 0px 5px #00000028);
}

#discicon {
	display: flex;
	padding: 4px 7px;
	background: #7289DA;
	box-shadow: 3px 3px 0 #3c4c85;
	border-radius: 20px;
	top: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#discicon:hover {
	transition: 0.2s;
	box-shadow: 5px 5px 0 #253363;
	background: #93a9fa;
	filter: drop-shadow(0px 0px 5px #00000028);
}


#homeicon {
	display: flex;
	position: fixed;
	right: 5px;
	bottom: 7px;
	padding: 4px 7px;
	background: #e11145;
	box-shadow: 3px 3px 0 #ca0d3c;
	border-radius: 20px;
}

#homeicon:hover {
	transition: 0.2s;
	box-shadow: 5px 5px 0 #a6082f;
	background: #de1145;
	width: 70px;
	height: 70px;
	top: 480px;
	left: 1185px;
	filter: drop-shadow(0px 0px 5px #00000028);
}


a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: none;
}

h1 {
	color: #ff8fab;
	font-family: 'Norwester', sans-serif;
	font-style: italic;
	font-size: 100px;
	filter: drop-shadow(3px 3px 0px #c93d60);
	text-align: center;
	-webkit-animation: slideIntext 2s forwards;
	text-shadow:
		-1px -1px 0 #c93d60,
		1px -1px 0 #c93d60,
		-1px 1px 0 #c93d60,
		1px 1px 0 #c93d60;
	margin-top: 30px;
}

#hyperlink {
	color: #ff7094;
	font-family: 'Whitney Book', sans-serif;
	font-size: 55px;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

#hyperlink:hover {
	color: #ffa2bb;
	font-family: 'Whitney Book', sans-serif;
	text-decoration: underline;
	filter: drop-shadow(0px 0px 5px #00000028);
}

#hl {
	color: #ff7094;
	font-family: 'Whitney Book', sans-serif;
	font-style: underline;
	font-size: 55px;
	text-align: right;
	margin-top: 10px;
	margin-bottom: 10px;
}

#hl:hover {
	color: #ffa2bb;
	font-family: 'Whitney Book', sans-serif;
	text-decoration: underline;
	top: 310px;
	left: 885px;
	filter: drop-shadow(0px 0px 5px #00000028);
}

#hl2 {
	color: #ff7094;
	font-family: 'Whitney Book', sans-serif;
	font-style: underline;
	font-size: 65px;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

#hl2:hover {
	color: #ffa2bb;
	font-family: 'Whitney Book', sans-serif;
	text-decoration: underline;
	filter: drop-shadow(0px 0px 5px #00000028);
}

#hl3 {
	color: #ff7094;
	font-family: 'Whitney Book', sans-serif;
	font-style: underline;
	font-size: 65px;
	text-align: right;
	margin-top: 10px;
	margin-bottom: 10px;
}

#hl3:hover {
	color: #ffa2bb;
	font-family: 'Whitney Book', sans-serif;
	text-decoration: underline;
	top: 190px;
	left: 795px;
	filter: drop-shadow(0px 0px 5px #00000028);
}

#avatar {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -60px;
	filter: drop-shadow(2px 2px 0px #e84a72);
	border-radius: 15px;
	border-width: 30px;
	border: solid #e84a72;
	-webkit-animation: slideIn 2s forwards;
	display: flex;
}

#textbg {
	position: absolute;
	bottom: 0;
	right: 0;
	filter: drop-shadow(-5px 0px 0px #971032);
	-webkit-animation: slideIntext 2s forwards;
	image-rendering: pixelated;
	display: flex;
}

#topbar {
	position: absolute;
	top: -100px;
	left: 0;
	image-rendering: pixelated;
	display: flex;
}

@-webkit-keyframes slideIn {
	0% {
		transform: translateX(-900px);
	}

	100% {
		transform: translateX(0);
	}
}

@-webkit-keyframes slideInText {
	0% {
		transform: translateX(900px);
	}

	100% {
		transform: translateX(0);
	}
}

#credits {
	color: #ff73a1;
	font-family: 'Whitney Light', sans-serif;
	filter: drop-shadow(0px 0px 3px #ff73a1);
	bottom: -3;
	left: 120;
	font-size: 25px;
	text-align: center;
	display: flex;
	font-style: italic;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 5px;
}

#infopara {
	color: #ff73a1;
	font-family: 'Whitney Light', sans-serif;
	text-transform: lowercase;
	left: 240px;
	top: 160px;
	font-size: 35px;
	text-align: center;
	font-style: italic;
	filter: drop-shadow(0px 0px 3px #ff73a1);
	display: flex;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

div {
	display: flex;
}

a {
	display: flex;
}

ul:hover li:not(:hover) {
	opacity: .5;
}

/*OTHER PAGES CSS*/

#textbg2 {
	position: absolute;
	bottom: 0;
	right: 0;
	filter: drop-shadow(-5px 0px 0px #971032);
	-webkit-animation: slideIntext 2s forwards;
	image-rendering: pixelated;
}

#bottombar2 {
	position: absolute;
	top: 278px;
	left: 0;
	image-rendering: pixelated;
}

#hyperlinkH {
	color: #ff3b6c;
	font-family: 'Whitney Book', sans-serif;
	font-style: underline;
	font-size: 35px;
	text-align: right;
	position: absolute;
	left: 1080px;
	top: 515px;
}

#hyperlinkH:hover {
	color: #ff1b54;
	font-family: 'Whitney Book', sans-serif;
	text-decoration: underline;
	filter: drop-shadow(0px 0px 3px #ff1b54);
}

h2 {
	color: #d14274;
	font-family: 'Whitney ', sans-serif;
	font-style: italic;
	font-size: 30px;
	filter: drop-shadow(2px 2px 0px #9a1f4a);
	text-align: center;
	text-shadow:
		-1px -1px 0 #9a1f4a,
		1px -1px 0 #9a1f4a,
		-1px 1px 0 #9a1f4a,
		1px 1px 0 #9a1f4a;
	margin-top: -80px;
}

#h12 {
	color: #fe7b9c;
	font-family: 'Norwester', sans-serif;
	font-size: 120px;
	filter: drop-shadow(3px 3px 0px #c93d60);
	text-align: center;
	-webkit-animation: slideIntext 2s forwards;
	text-shadow:
		-1px -1px 0 #c93d60,
		1px -1px 0 #c93d60,
		-1px 1px 0 #c93d60,
		1px 1px 0 #c93d60;
	top: 10px;
}

#oc {
	color: #ff7094;
	font-family: 'Whitney Light', sans-serif;
	font-style: underline;
	font-size: 45px;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	text-shadow:
		-1px -1px 0 #9a1f4a78,
		1px -1px 0 #9a1f4a78,
		-1px 1px 0 #9a1f4a78,
		1px 1px 0 #9a1f4a78;
}

#oc:hover {
	color: #ffa2bb;
	font-family: 'Whitney Light', sans-serif;
	text-decoration: underline;
	top: 255px;
	left: 35px;
	filter: drop-shadow(0px 0px 5px #00000028);
}

#outfit {
	color: #ff7094;
	font-family: 'Whitney Light', sans-serif;
	font-style: underline;
	font-size: 45px;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: -0px;
	text-shadow:
		-1px -1px 0 #9a1f4a78,
		1px -1px 0 #9a1f4a78,
		-1px 1px 0 #9a1f4a78,
		1px 1px 0 #9a1f4a78;
}

#outfit:hover {
	color: #ffa2bb;
	font-family: 'Whitney Light', sans-serif;
	text-decoration: underline;
	top: 255px;
	left: 435px;
	filter: drop-shadow(0px 0px 5px #00000028);
}

#tool {
	color: #ff7094;
	font-family: 'Whitney Light', sans-serif;
	font-style: underline;
	font-size: 45px;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	text-shadow:
		-1px -1px 0 #9a1f4a78,
		1px -1px 0 #9a1f4a78,
		-1px 1px 0 #9a1f4a78,
		1px 1px 0 #9a1f4a78;
}

#tool:hover {
	color: #ffa2bb;
	font-family: 'Whitney Light', sans-serif;
	text-decoration: underline;
	top: 255px;
	left: 875px;
	filter: drop-shadow(0px 0px 5px #00000028);
}

#ghy {
	color: #ad34e5;
	font-family: 'Norwester', sans-serif;
	font-style: underline;
	font-size: 60px;
	text-align: center;
	text-shadow:
		-1px -1px 0 #6e2b6e78,
		1px -1px 0 #6e2b6e78,
		-1px 1px 0 #6e2b6e78,
		1px 1px 0 #6e2b6e78;
}

#ghy:hover {
	color: #c056f1;
	font-family: 'Norwester', sans-serif;
	text-decoration: underline;
	top: 190px;
	left: 145px;
	filter: drop-shadow(0px 0px 5px #00000028);
}

#ghytext {
	color: #b15de2;
	font-family: 'Whitney Light', sans-serif;
	font-style: italic;
	font-size: 25px;
	text-align: center;
	left: 50px;
	top: 250px;
	margin-top: 3px;
	filter: drop-shadow(0px 0px 3px #b15de2);
}

#adwy {
	color: #c348d3;
	font-family: 'Norwester', sans-serif;
	font-style: underline;
	font-size: 60px;
	text-align: center;
	text-shadow:
		-1px -1px 0 #6d1f9a78,
		1px -1px 0 #6d1f9a78,
		-1px 1px 0 #6d1f9a78,
		1px 1px 0 #6d1f9a78;
	left: 565px;
	top: 195px;
}

#adwy:hover {
	color: rgb(214, 52, 254);
	font-family: 'Norwester', sans-serif;
	text-decoration: underline;
	top: 190px;
	left: 560px;
	filter: drop-shadow(0px 0px 5px #00000028);
}

#adwytext {
	color: #c444ff;
	font-family: 'Whitney Light', sans-serif;
	font-style: italic;
	font-size: 25px;
	text-align: center;
	filter: drop-shadow(0px 0px 3px #c444ff);
	left: 500px;
	top: 250px;
	margin-top: 3px;
}

#tmm {
	color: #3bff76;
	font-family: 'Norwester', sans-serif;
	font-style: underline;
	font-size: 60px;
	text-align: center;
	text-shadow:
		-1px -1px 0 #0f6c3978,
		1px -1px 0 #0f6c3978,
		-1px 1px 0 #0f6c3978,
		1px 1px 0 #0f6c3978;
	left: 1000px;
	top: 195px;
}

#tmm:hover {
	color: #1bff72;
	font-family: 'Norwester', sans-serif;
	text-decoration: underline;
	top: 190px;
	left: 995px;
	filter: drop-shadow(0px 0px 5px #00000028);
}

#tmmtext {
	color: #58ffae;
	font-family: 'Whitney Light', sans-serif;
	font-style: italic;
	font-size: 25px;
	text-align: center;
	filter: drop-shadow(0px 0px 3px #58ff9e);
	left: 900px;
	top: 250px;
	margin-top: 3px;
}

#boob {
	color: #f554af;
	font-family: 'Norwester', sans-serif;
	font-style: underline;
	font-size: 60px;
	text-align: center;
	text-shadow:
		-1px -1px 0 #9a1f4a78,
		1px -1px 0 #9a1f4a78,
		-1px 1px 0 #9a1f4a78,
		1px 1px 0 #9a1f4a78;
	left: 45px;
	top: 350px;
}

#boob:hover {
	color: #fc7fc6;
	font-family: 'Norwester', sans-serif;
	text-decoration: underline;
	top: 345px;
	left: 40px;
	filter: drop-shadow(0px 0px 5px #00000028);
}

#boobtext {
	color: #ff58bf;
	font-family: 'Whitney Light', sans-serif;
	font-style: italic;
	font-size: 25px;
	text-align: center;
	filter: drop-shadow(0px 0px 3px #ff5882);
	left: 35px;
	top: 410px;
	margin-top: 3px;
}

#sm {
	color: #cfcfcf;
	font-family: 'Norwester', sans-serif;
	font-style: underline;
	font-size: 60px;
	text-align: center;
	text-shadow:
		-1px -1px 0 #65656578,
		1px -1px 0 #65656578,
		-1px 1px 0 #65656578,
		1px 1px 0 #65656578;
	left: 505px;
	top: 350px;
}

#sm:hover {
	color: #e4e4e4;
	font-family: 'Norwester', sans-serif;
	text-decoration: underline;
	top: 345px;
	left: 500px;
	filter: drop-shadow(0px 0px 5px #00000028);
}

#smtext {
	color: #acacac;
	font-family: 'Whitney Light', sans-serif;
	font-style: italic;
	font-size: 25px;
	text-align: center;
	filter: drop-shadow(0px 0px 3px #acacac);
	left: 435px;
	top: 410px;
	margin-top: 3px;
}

#PTH {
	color: #24c371;
	font-family: 'Norwester', sans-serif;
	font-style: underline;
	font-size: 60px;
	text-align: center;
	text-shadow:
		-1px -1px 0 #65656578,
		1px -1px 0 #65656578,
		-1px 1px 0 #65656578,
		1px 1px 0 #65656578;
	left: 1015px;
	top: 350px;
}

#PTH:hover {
	color: #46de8f;
	font-family: 'Norwester', sans-serif;
	text-decoration: underline;
	top: 345px;
	left: 1010px;
	filter: drop-shadow(0px 0px 5px #00000028);
}

#pthtext {
	color: #1b936d;
	font-family: 'Whitney Light', sans-serif;
	font-style: italic;
	font-size: 25px;
	text-align: center;
	filter: drop-shadow(0px 0px 3px #1b936d);
	left: 950px;
	top: 415px;
	margin-top: 3px;
}

#preview {
	white-space: nowrap;
	color: #ff5882;
	font-family: 'Whitney Light', sans-serif;
	font-style: italic;
	font-size: 20px;
	position: fixed;
	right: 100px;
	bottom: -10px;
}

#hoverinfo {
	white-space: nowrap;
	text-align: center;
	color: #ff5882;
	font-family: 'Whitney Light', sans-serif;
	font-style: italic;
	font-size: 17px;
	position: absolute;
	left: 775px;
	top: 495px;
	text-shadow:
		-1px -1px 0 #9a1f4a78,
		1px -1px 0 #9a1f4a78,
		-1px 1px 0 #9a1f4a78,
		1px 1px 0 #9a1f4a78;
}

#sayo {
  text-shadow:
  -1px -1px 0 #2b4a6e78,
  1px -1px 0 #2b4a6e78,
  -1px 1px 0 #2b4a6e78,
  1px 1px 0 #2b4a6e78;
  color: #6AADE7;
  position: absolute;
  top: 40%;
	display: flex;
	padding: 8px 15px;
	text-decoration: none;
	font-family: 'Norwester', sans-serif;
	font-size: 43px;
	background: #2167B1;
	transition: 1s;
	box-shadow: 3px 3px 0 #0E3B63;
	border: 5px;
	border-radius: 10px;
}

#sayo:focus {
	outline: none;
}

#sayo:hover {
  top: 39%;
  font-size: 44px;
  color: #67b4f8;
  background: #2374c9;
	transition: 0.2s;
	box-shadow: 5px 5px 0 #0d487c;
}

#kamuko {
  text-shadow:
  -1px -1px 0 #6e442b78,
  1px -1px 0 #6e442b78,
  -1px 1px 0 #6e442b78,
  1px 1px 0 #6e442b78;
  color: #BB683C;
  position: absolute;
  top: 55%;
	display: flex;
	padding: 8px 15px;
	text-decoration: none;
	font-family: 'Norwester', sans-serif;
	font-size: 43px;
	background: #8B6459;
	transition: 1s;
	box-shadow: 3px 3px 0 #623737;
	border: 5px;
	border-radius: 10px;
}

#kamuko:focus {
	outline: none;
}

#kamuko:hover {
  top: 54%;
  font-size: 44px;
  color: #e17a43;
  background: #a36c5d;
	transition: 0.2s;
	box-shadow: 5px 5px 0 #692525;
}

#ghyMPT {
  text-shadow:
  -1px -1px 0 #6e2b6e78,
  1px -1px 0 #6e2b6e78,
  -1px 1px 0 #6e2b6e78,
  1px 1px 0 #6e2b6e78;
  color: #ad34e5;
  position: absolute;
  top: 70%;
	display: flex;
	padding: 8px 15px;
	text-decoration: none;
	font-family: 'Norwester', sans-serif;
	font-size: 43px;
	background: #8d3491;
	transition: 1s;
	box-shadow: 3px 3px 0 #650b71;
	border: 5px;
	border-radius: 10px;
}

#ghyMPT:focus {
	outline: none;
}

#ghyMPT:hover {
  top: 69%;
  font-size: 44px;
  color: #c045f9;
  background: #a133a7;
	transition: 0.2s;
	box-shadow: 5px 5px 0 #590863;
}