@import url('https://fonts.cdnfonts.com/css/pixellari');

body {
  background-color: #000000;
  font-family: Verdana;
}

h1 {
  font-family: 'Pixellari', sans-serif;
  font-size: 40px;
  color: #00ff6a;
  filter: drop-shadow(0px 0px 3px #00ff6a);
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: 0em; /* Adjust as needed */
  animation: 
    typing 1s steps(2, end),
    blink-caret .75s step-end infinite;
}

ul {
  color: #00ff6a;
  filter: drop-shadow(0px 0px 3px #00ff6a);
  font-size: 25px;
  font-family: 'Pixellari', sans-serif;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: 0em; /* Adjust as needed */
  animation: 
    typing 3s steps(2, end),
    blink-caret .75s step-end infinite;
}

.icon {
  overflow: hidden;
  display: block;
  z-index: 5 !important;
  float: right;
  width: 300px;
  height: 300px;
  border: solid;
  border-color: #00ff6a;
  border-radius: 0px;
  box-shadow: 0px 0px 5px #00ff6a;
  animation: dropdown 5s;
}
@keyframes dropdown {
  0% {
    transform: translateY(-1000px);
  }


  100% {
    transform: translateY(0px);
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

#crt:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
      to bottom,
      rgba(18, 16, 16, 0) 50%,
      rgba(0, 0, 0, 0.25) 50%
  );
  background-size: 100% 2px;
  z-index: 2;
  pointer-events: none;
}



/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent; }
}