@import url('https://fonts.cdnfonts.com/css/norwester');
@import url('https://fonts.cdnfonts.com/css/railway');
@import url('https://fonts.cdnfonts.com/css/gill-sans-mt-2');

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #175c87;
  font-family: Verdana;
}

html{
  scroll-behavior: smooth;
}

h1 {
  position: relative;
  top: 20;
  z-index: 1;
  text-align: center;
  font-family: 'Norwester', sans-serif;
  color: #0000004e;
  -webkit-text-fill-color: #85bcfb;
  -webkit-text-stroke: 1.8px;
  font-size: 65px;
  font-style: italic;
}

h2{
  font-family: 'Railway', sans-serif;
  color: #00000082;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 35px;
  text-decoration: underline solid #00000082;
  text-decoration-thickness: 3px;
}

h3{
  position: absolute;
  top: -10px;
  left: 60px;
  font-family:'Gill Sans', 'Gill Sans MT', sans-serif;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #42a0ff;
  font-size: 22px;
  filter: drop-shadow(0px 0px 5px #42a0ff);
}

h4{
  font-family: 'Railway', sans-serif;
  color: #00000082;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  text-decoration: underline solid #00000082;
  text-decoration-thickness: 3px;
}

p{
  font-family:'Gill Sans', 'Gill Sans MT', sans-serif;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #0e1f32a4;
  font-size: 22px;
}

a{
  font-family:'Gill Sans', 'Gill Sans MT', sans-serif;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #42a0ff;
  font-size: 22px;
  filter: drop-shadow(0px 0px 5px #42a0ff);
}

a:hover{
  transition: 0.2s;
  font-family:'Gill Sans', 'Gill Sans MT', sans-serif;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #0080ff;
  font-size: 24px;
  filter: drop-shadow(0px 0px 2px #0080ff);
}

li{
  font-family:'Gill Sans', 'Gill Sans MT', sans-serif;
  color: #0e1f32ce;
  font-size: 22px;
  line-height: 19px; /* 4px +12px + 4px */
}

h6{
  font-family:'Railway', sans-serif;
  text-align: center;
  color: #0080ff;
  font-size: 20px;
}

.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-style: solid;
  border-color: #42a0ff;
  border-width: 3px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px #42a0ff;
}

.image:hover{
  transition: 0.2s;
  transform: scale(1.1);
  border-color: #0080ff;
  border-width: 3px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #0080ff;
}

#credits{
  width: 500px;
  display: block;
  margin-left: auto;
  margin-bottom: 0px;
}

.bar1{
  position: absolute;
  background: linear-gradient(270deg, #498fc8, #48b2f3, #498fc8);
  background-size: 600% 600%;
  width: 110%;
  height: 80px;
  top: 48px;
  left: 0px;
  animation: gradient 15s ease infinite;
  border: solid #1f869dd6;
}

@keyframes gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}






#menuToggle
{
  display: block;
  position: fixed;
  top: 15px;
  left: 10px;
  
  z-index: 2147483647;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #2666b3;
  border: solid;
  border-color: #114078;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(2px, -1px);
  background: #008cff;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(7px, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  z-index: 2147483647;
  width: 300px;
  margin: -100px 5 5 -50px;
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  
  background: #5fbbe3;
  border: solid;
  border-color:#0080ff;
  border-radius: 20px;
  border-width: 5px;
  box-shadow: 0px 0px 5px #0080ff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 100% 100%;
  transform: translate(-200%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
  color: #1b3b86;
  text-align: left;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
